<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<!-- Form tambah data -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="bold">Tambah Kategori</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active"><a href="/nominal">Nominal</a></li>
              <li class="breadcrumb-item active">Tambah</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col">
            <!-- general form elements -->
            <div class="card card-primary">
              <!-- /.card-header -->
              <!-- form start -->
              <form action="/nominal/create" method="POST">
                <div class="card-body">
                  <div class="form-group">
                    <label for="coin">Jumlah Koin</label>
                    <input type="number" id="coin" class="form-control" placeholder="Masukkan jumlah koin" name="coinQuantity">
                  </div>
                  <div class="form-group">
                    <label for="coin">Nama Koin</label>
                    <input type="text" id="coin" class="form-control" placeholder="Masukkan nama koin" name="coinName">
                  </div>
                  <div class="form-group">
                    <label for="coin">Harga</label>
                    <input type="number" id="coin" class="form-control" placeholder="Masukkan harga" name="price">
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

            <!-- general form elements -->
            <!-- /.card -->

          </div>
          <!--/.col (left) -->
          <!-- right column -->
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>